body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.collapsed {
  display: none;
}

nav {
  background-color: #056863;
  color: white;
  width: 100%;
}
nav .mobile {
  display: none;
}
nav .mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
nav .mobile .header .more button {
  border: none;
  background-color: #056863;
  color: white;
  padding: 15px;
  cursor: pointer;
}
nav .logo {
  min-width: 250px;
}
.desktop .logo img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}
nav a:hover {
  color: azure;
  background-color: #00c3ff;
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pad: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary {
  display: flex;
}

nav .desktop .secondary.mini {
  display: none;
}

@media screen and (max-width: 853px) {
  nav .logo {
    min-width: 100px;
  }
  nav .secondary.full {
    display: none;
  }
  nav .secondary.mini {
    display: block !important;
  }
  nav .secondary.mini .submenu {
    background-color: #056863;
    position: absolute;
    display: none;
    width: 150px;
    right: 0;
  }
  nav .secondary.mini:hover .submenu {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
}

/* ---------------- TARJETAS --------------------- */
.cards {
  display: flex;
  width: 100%;
  padding: 50px;
}
.cards .card {
  background-color: rgb(0, 144, 255);
  color: white;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.1);
}
.cards .card a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
.cards .card a:hover {
  color: lightyellow;
}
.cards .card .header {
  flex: 1;
}
.cards .card:hover {
  margin-right: 80px;
  transform: rotate(3deg) translateY(-15px);
}
.cards .card .header .date {
  padding: 10px 0;
}
.cards .card .header .title {
  font-size: 28px;
}
.cards .card .footer .autor a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards .card .footer img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}
.cards .card[class*="element"] {
  margin-left: -100px;
}
.element-1:hover,
.element-2:hover {
  margin-left: -130px;
}

/* ---------------- TABLA --------------------- */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 800px;
  margin: 100px auto;
}
td,
th {
  border: 1px solid #ccc;
  padding: 5px;
}
/*Busca las filas PAR*/
tr:nth-child(even) {
  background-color: #eee;
}
td:nth-child(4) {
  text-align: center;
}
tbody tr:hover {
  background-color: rgb(160, 222, 225) !important;
}
thead {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

/* ---------------- NOTIFICACIONES --------------------- */
.notification {
  width: 48px;
  margin: 100px auto;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}
.notifi {
  /* color: red; */
  font-size: 48px;
}
.notification .count {
  --size: 30px;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  color: white;
  /* Convertir a cuadrado la notificación */
  border: solid 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* ---------------- FORMULARIO DE LOGIN --------------------- */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #056863;
}
.form-container {
  background-color: white;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  height: 90%;
  display: flex;
  align-items: center;
}
.form-container .login-container {
  width: 500px;
  margin: 0 auto;
}
.form-container .login-container > h2 {
  text-align: center;
  font-size: 2rem;
  /* background-color: aqua; */
}
.form-container .login-container > p,
.form-container .login-container > span {
  /* background-color: pink; */
  text-align: center;
  color: #555;
}
.form-container .login-container label {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}
.form-container .login-container input.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.form-container .login-container input.input:focus {
  outline: solid 1px rgb(0, 153, 255);
}
.form-container .login-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container .login-container .options a {
  color: #0099ff;
  text-decoration: none;
}
.form-container .login-container .options a:hover {
  text-decoration: underline;
}

.form-container .login-container .providers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 30px;
}
.btn {
  border: none;
  padding: 10px 0;
  width: 100%;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn.btn-login {
  background-color: black;
  color: white;
}
.btn.btn-login:hover {
  background-color: #333;
}
.btn.btn-facebook {
  background-color: rgb(10, 82, 216);
  color: white;
}
.btn.btn-facebook:hover {
  background-color: rgb(8, 89, 162);
}
.btn.btn-google {
  background-color: white;
  color: black;
  border: solid 1px #ccc;
}
.btn.btn-google:hover {
  background-color: rgb(240, 240, 240);
}
.btn.btn-twitter {
  background-color: rgb(10, 168, 216);
  color: white;
}
.btn.btn-twitter:hover {
  background-color: rgb(8, 137, 177);
  color: white;
}

.form-container .welcome-screen-container {
  background-color: black;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1357px) {
  .form-container {
    width: 95%;
  }
  .form-container .login-container {
    width: 400px;
    margin: 0 auto;
  }
  .form-container .welcome-screen-container {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  /* .form-container {
    height: 70%;
  } */
  .form-container .login-container {
    width: 350px;
  }
  .form-container .welcome-screen-container {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .form-container .login-container {
    width: 250px;
    margin: 0 auto;
  }
}

/* ---------------- BARRA DE PROGRESO --------------------- */
.progressbar-container {
  width: 200px;
  height: 200px;
  margin: 100px auto;
}
.progressbar-container .outer-box {
  border-radius: 50%;
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar-container .inner-box {
  background-color: antiquewhite;
  font-size: 24px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar-container svg {
  position: absolute;
}
.progressbar-container circle {
  fill: none;
  stroke: url(#gradientColor);
  stroke-width: 20px;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: loading 3s linear forwards;
}
@keyframes loading {
  100% {
    stroke-dashoffset: 0;
  }
}

/* ---------------- TABLA DE PRECIOS --------------------- */
.bodyPrecios {
  background-color: darkblue;
}
.price-table-container {
  width: 900px;
  display: flex;
  align-items: center;
  margin: 40px auto;
}
.price-table-container .table {
  width: 300px;
  height: 442px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price-table-container .table:first-child {
  border-radius: 10px 0 0 10px;
}
.price-table-container .table:last-child {
  border-radius: 0 10px 10px 0;
}
.price-table-container .table.recommended {
  height: 500px;
  border-radius: 10px;
  padding: 60px 30px 60px 30px;
  z-index: 200;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.price-table-container .table .title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.price-table-container .table .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.price-table-container .table .price .currency {
  font-size: 25px;
}
.price-table-container .table .price .number {
  font-size: 60px;
  font-weight: bold;
}
.price-table-container .table .price .frequency {
  color: #999;
}
.price-table-container .table .features {
  flex: 1;
}
.price-table-container .table .features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price-table-container .table .features ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.price-table-container .table .features ul li span.check_circle {
  color: rgb(39, 196, 143);
}
.price-table-container .table .actions .btn {
  display: block;
  text-align: center;
  padding: 20px 0;
  border: solid 1px #999;
  color: #999;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.price-table-container .table .actions .btn:hover {
  background-color: #eee;
  color: #222;
}
.price-table-container .table .actions .btn.recommended {
  background-color: #2579e7;
  color: white;
  border: solid 1px #2579e7;
}
.price-table-container .table .actions .btn.recommended:hover {
  background-color: #1961be;
  border: solid 1px #1961be;
}

/* ---------------- CHECK BOXES Y RADIO BUTTONS --------------------- */
.check {
  padding: 100px;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container .checkmark {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}
.checkbox-container .checkmark.radio {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}
.checkbox-container .checkmark .material-icons {
  color: white;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkbox-container input:checked ~ .checkmark .material-icons {
  transform: scale(1);
}

.checkbox-container input:checked ~ .checkmark.radio .circle {
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 7px;
  height: 12px;
  width: 12px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
